* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body, html {
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.sidebar {
    width: 30%;
    min-width: 300px; /* Definindo uma largura mínima para a barra lateral */
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.logoo {
    width: 100%; /* Ajuste para ocupar toda a largura da barra lateral */
    max-width: 300px; /* Limitando a largura do logo */
}

.form-container-login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1100px;
    width: 80%; /* Reduzindo a largura máxima para telas menores */
}

.form-container-login .form-login {
    width: 100%; /* Ajustando o formulário para ocupar toda a largura do container */
    margin-left: 0; /* Removendo a margem à esquerda */
}

.form-login input[type=text],
.form-login input[type=password] {
    width: 100%;
}

.form-login input[type=submit],
.form-login a {
    width: 100%;
    max-width: 300px; /* Limitando a largura máxima dos botões */
    margin: 10px auto; /* Centralizando os botões horizontalmente */
    box-sizing: border-box; /* Garantindo que o padding não afete a largura total */
}

/* Responsividade */

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%; /* Ajustando a barra lateral para ocupar toda a largura em telas menores */
        min-width: auto; /* Removendo a largura mínima */
    }

    .logoo {
        width: 80%; /* Reduzindo a largura do logo em telas menores */
        max-width: none; /* Removendo a largura máxima */
        margin: 0 auto 20px; /* Centralizando o logo horizontalmente e adicionando espaço abaixo */
    }

    .form-container-login {
        width: 90%; /* Reduzindo a largura máxima do container em telas menores */
    }
}